{%extends "base.html"%}
    {%block content%}
    {%if session['authenticated']%}

    <div class="score">
      <h2> {{message}}</h2>
    </div>
    <div class="score">
      <h2> {{info}}{{score}}</h2>
    </div>
    {%endif%}
    <div class="score">
      <h2> My name is Shashvuta Rungta
        I Live in INDIA/Maharashtra
        i study in St mary's school(ICSE)
        My age is 11.
        In My Free Time to play on my ps4 with my friends and my favourite game is fortnite.
        And My hobbies are football,cricket and listening to music</h2>
    </div>

    
    {%endblock%}