<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <style>
        h3{
            color: aqua;
            background-color: black;
        }
    </style>
</head>
<body>
    <h3>welcome to my website </h3>
    <form action="/reverse">
        <h1>enter any string</h1>
        <input type="text" name="string" id="">
        <button type="submit">submit</button>
    </form>
    {{rev_str}}
</body>
</html>