<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <style>
        body{
            background-color: black;
            color: cyan;
        }
        .outer{
            display: grid;
            grid-template-columns: 33.25% 33.25% 33.25;
            border: cyan 3px solid;
        }
        .q1{
            background-color: darkblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            height: 300px;
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="outer">
        <div class="Q1">
           <h3>Q1</h3>
        </div>
        <div class="Q2">
           <h3>Q2</h3>  
        </div>
        <div class="Q3"> 
           <h3>Q3</h3> 
        </div>
        <div class="Q4">
           <h3>Q4</h3>
        </div>
    </div>
</body>
</html>